
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: lato;
}

/*-------------------------------------------------HEADER----------------------------------------------------------*/

header{
    background-color: #ADC178;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

header img{
    width: 200px; 
    height: auto;
}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}
 
header nav ul a{ 
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header nav ul a.here{ 
    font-size: 30px;

}

.barra_inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilos del ícono hamburguesa */
.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .nav-menu {
        display: none; /* Oculta el menú por defecto en pantallas pequeñas */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333; /* Fondo del menú desplegable */
        width: 100%;
    }

    .menu-icon {
        display: block; /* Muestra el ícono hamburguesa en móviles */
    }

    /* Cuando el checkbox está activado, muestra el menú */
    .menu-toggle:checked + .menu-icon + nav .nav-menu {
        display: flex;
    }
}


/*--------------------------------------------------------------INICIO-----------------------------------------------------------*/

body.inicio section{
    display: flex;
    margin: 0px 10px;
}

body.inicio section article{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px;
    justify-content: center;
}

body.inicio article div.container{
    display: flex;
    width: 90%;
    background-color: rgba(240, 234, 210, 0.5);
    transform: translateX(20%);
    z-index: 1;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
}

body.inicio article h2{
    font-size: 25px;
    text-decoration: none;
    color: #6B774B;
    font-weight: bold;
}

.img_inicio{
    width: 70%;
    height: auto;
    opacity: 0.7;

}

.img_inicio img{
    width: 100%;
}

.bienvenida img{
    opacity: 1;
    width: 250px;

}

/*--------------------------------------------------------------TIPS-----------------------------------------------------------*/

.tips {
    display: flex;
    margin: 20px;
    gap: 20PX;
    justify-content: center;
}

.tips article{   
     width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.tips img{
    width: 100%;
    height: auto;
}
.tips p{
        font-size: 20px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight:300;
}


.tips .one {
    background-color: #DDE5B6;

}

.tips .two {
    background-color: #F0EAD2;
}

.tips .thre {
    background-color: #DDE5B6;
}

/*--------------------------------------------------------------CURSOS-----------------------------------------------------------*/

.cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursos article{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 1% 5%;
}

.cursos h1{
    font-size: 25px;
    text-decoration: none;
    color: #6B774B;
    font-weight: bold;
}

.cursos h2{
    font-size: 30px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.cursos h3{
    font-size: 30px;
    text-decoration: none;
    color: #6C584C;
    font-weight: bold;
}

.cursos p{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    font-weight:normal;
    margin: 0px;
}
.cursos .cursos-img{
    width: 40%;
    height: auto;
}

.cursos .cursos-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.cursos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cursos .curso1{
    background-color: #a9846789;
}

.cursos .curso2{
    background-color: #dde5b686;
}

.cursos .curso3{
    background-color: #f0ead289;
}

.cursos .curso4{
    background-color: #dde5b686;
}

/*--------------------------------------------------------------NOSOTROS-----------------------------------------------------------*/

.nosotros{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 100vh;
}

.nosotros h1{
    font-size: 30px;
    text-decoration: none;
    color: #000000;
    font-weight:bold;
}

.nosotros h3{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    font-weight:300;
}

.img_nosotros{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

}

.QuienesSomos{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;

}
.mision{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;

}
.Vision{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 3;

}

.img_nosotros img{
    width: 100%;
}

/*--------------------------------------------------------------CONTACTO-----------------------------------------------------------*/
.contacto {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    margin: 5px 5%;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
        "wsp email horario"
        "section-form-contacto section-form-contacto section-form-contacto";
}

.contacto section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contacto section img{
    width: 100px;
}

.contacto section h1{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    font-weight:bold;
    margin: 0;
    margin-top: 5px;
}

.contacto section h2{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    font-weight:normal;
    margin: 0;
}


.section-form-contacto {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-direction: column;
    align-items: center;
}
.formContacto{
    width: 100%;
    display:flex;
    flex-direction: row;
}

.formContacto .input-1{
    width: 40%;
}

.formContacto .input-2{
    width: 60%;
}

.formContacto input{
    margin: 5px;
    border: none;
    background-color: #dde5b683;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
}


.formContacto .mensaje{
width: 100%;
height: 80%;
}

.section-form-contacto button{
    background-color: #6B774B;
    border: none;
    width: 20%;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 3%;
    padding-right: 3%;
    margin: 5px;
}

/*--------------------------------------------------------------FOOTER-----------------------------------------------------------*/

footer{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

footer h4{
    font-size: 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;

}

footer .redes-sociales{
    display: flex;
    flex-direction: column;
}

footer .redes-sociales div{
    display: flex;
}

.img_redes{
    width: 40px; 
    height: auto;

}