// Variables
$color-fondo: #dde5b683;
$color-boton: #6B774B;
$color-texto: #000000;
$color-header: #ADC178;
$color-nav-background: #6C584C;
$color-tips-even: #DDE5B6;
$color-tips-odd: #F0EAD2;
$color-cursos-even: #a9846789;
$color-cursos-odd: #dde5b686;
$color-contact-background: rgba(240, 234, 210, 0.5);
$color-footer-background: #f0ead287;
$font-size-large: 30px;
$font-size-medium: 20px;
$font-size-small: 16px;
